{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{bock.super}}



<style>
    .thisy{
        padding-left: 15%;
    }
    hr{
        background: #000000;
    }
    .btner{
        background-color: #FF008C;
        border-color: #FF008C;
    }
    </style>
    
  
  <div class="container">
    <div class="row">
        
        {% for images_item in images %}
      <div class="col-sm-6 col-md-4 col-lg-10 thisy">
        <div class="thumbnail">
          <h4>{{user.username}}</h4>
          <img src="{{images_item.pic.url}}" alt="image" srcset="" class="img-responsive">
          <a href="{% url 'details' images_item.id %}">Details</a>
        </div>
          
        </div><!-- thumbnail -->


        {% empty %}
        <div class="row">
          <h2 class="text-center">There No Posts</h2>
        </div>
        
      </div><!-- thisy -->
      {% endfor %} 
    </div><!-- row -->
    </div>  <!--container  -->
      
          
        



{% endblock %}