{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{bock.super}}



<style>
  .bioy{
        padding-left: 15%;
        padding-right: 25%;
    }
    .picy{
        width: 150px;
        height: 150px;
    }
    .btns{
        background-color: #FF008C;
        border-color: #FF008C;
    }
</style>
    

     <!-- profile bio part -->
     <div class="container bioy">
        <div class="row">
                <div class="col-md-8 col-lg-8">
                    <img src="" alt="profile pic" srcset="" class="img-responsive img-circle picy">
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                               <h5>username</h5> 
                        </div>
                        <div class="col-lg-6">
                                <h5> <a href="edit/">Edit Profile</a> </h5>
                        </div>
                       
                    </div>
                    <div class="row">
                        <h6>9 posts   990 followers  710 following</h6>
                        </div>
                    <div class="row">
                        bio
                    </div>
                </div>
                <div class="row">
                    <button class="btns">Follow</button>
                </div>
    
        </div>
</div>
<div class="container">
    <hr>
</div>


   <!-- form for uploading pics -->
   <div class="container">
    <div class="cont"> 
          <form  action="/" method="post" enctype="multipart/form-data">
              {%csrf_token%}
          
              {% bootstrap_form form%}
              <input type="submit" class="be btn btn-success btn " value="Post">
            </form>
    </div>

</div>    
<div class="container">
<hr>
</div>




{% endblock %}