{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{bock.super}}



<style>
  .bioy{
        padding-left: 15%;
        padding-right: 25%;
    }
    .picy{
        width: 150px;
        height: 150px;
    }
    .btns{
        background-color: #FF008C;
        border-color: #FF008C;
    }
    .that{
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    hr{
        background-color: #000000;
    }
    .jik{
display: inline-block;
width: 30%;
    }
</style>
    

     <!-- profile bio part -->
     <div class="container bioy">
        <div class="row">
                <div class="col-md-8 col-lg-8">
                    <img src="{{profile.profile_pic.url}}" alt="profile pic" srcset="" class="img-responsive img-circle picy">
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                               <h5>{{user.username}}</h5> 
                        </div>
                        <div class="col-lg-6">
                                <h5> <a href="edit/">Edit Profile</a> </h5>
                        </div>
                       
                    </div>
                    <div class="row">
                        <h6>9 posts   990 followers  710 following</h6>
                        </div>
                    <div class="row">
                        <h4>{{profile.bio}}</h4>
                    </div>
                </div>
                <div class="row">
                    <button class="btns">Follow</button>
                </div>
    
        </div>
</div>
<div class="container">
    <hr>
</div>


   <!-- form for uploading pics -->
   <div class="container that">
        <form  action="{% url 'profile'%}" method="post" enctype="multipart/form-data">
              {%csrf_token%}
          
              {% bootstrap_form form%}
              <input type="submit" class="be btn btn-success btn btns " value="Post">
        </form>
    </div>    
<div class="container">
<hr>
</div>
<!-- posts -->



        
          <!-- Looping through images   -->
         
        
          
          
          
          <div class="container">
            <div class="row">
                
                {% for images_item in images %}
              <div class="col-sm-6 col-md-4 col-lg-10 thisy">
                <div class="thumbnail">
                  <h4>{{user.username}}</h4>
                  <img src="{{images_item.pic.url}}" alt="image" srcset="" class="img-responsive">
                  <a href="{% url 'details' images_item.id %}">Details</a>
                </div>
                  
                </div><!-- thumbnail -->
        
        
                {% empty %}
                <div class="row">
                  <h2 class="text-center">There No Posts</h2>
                </div>
                
              </div><!-- thisy -->
              {% endfor %} 
            </div><!-- row -->
            </div>  <!--container  --> 




{% endblock %}